html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9 !important;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 0; 
    background-color: #f9f9f9;
    margin-left: 15%;
}

header img {
    height: 40px;
    margin-right: 20px; 
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 15px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #fff;
    flex: 1;
}

.hero-text {
    flex: 2;
    margin-left: 10%;
    margin-right: 8%; 
    max-width: 36%; 
}

.hero h1 {
    font-size: 48px;
    margin: 0;
    color: #333;
}

.hero p {
    font-size: 18px;
    color: #666;
}

.hero button {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.hero img {
    flex: 1; 
    max-width: 36%; 
    height: auto;
    border-radius: 10px;
    margin-right: 10%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: relative;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.button:hover {
    background-color: #333;
}
