<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strategic Partner for Digital Solutions</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div class="wrapper">
    <header>
        <img src="static/image/showcase.jpg" alt="Logo">
        <nav>
            <a href="#contact" class="contact-button">Lyu Tianle</a>
        </nav>
    </header>

    <main class="hero">
        <div class="hero-text">
            <h1>Amplitude Analysis</h1>
            <p>After selecting the audio data, the amplitude map is analyzed, and the corresponding spectrum map is obtained through "zoom" and "draw" functions and FFT technique.</p>
            <a href="/analyse.html"><button>Let's try it !</button></a>
        </div>
        <img src="static/image/right.png" alt="Person" style="width: 100%; height: auto; margin-right: 13%; scale: 150%;">
    </main>

    <footer>
        <p>July 7, 2024. Created and done by Lyu Tianle.</p>
    </footer>
</div>

</body>
</html>
