<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strategic Partner for Digital Solutions</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div class="wrapper">
    <header>
        <nav>
            <a href="#contact" class="contact-button">DFT and IDFT transformations</a>
        </nav>
    </header>

    <main class="hero">
        <div class="hero-text">
            <h1>Amplitude Analysis</h1>
            <p>This project is a web application for performing amplitude analysis on audio files. It uses Flask as the web server and Dash for the interactive data visualization components. The application allows users to upload audio files, visualize their amplitude, select regions for DFT (Discrete Fourier Transform) analysis, and view inverse DFT (IDFT) plots.</p>
            <a href="/analyse.html"><button>Let's try it !</button></a>
        </div>
        <img src="static/image/right.png" alt="Person" style="width: 100%; height: auto; margin-right: 13%; scale: 150%;">
    </main>

    <footer>
        <p>Audio Amplitude Analysis Application</p>
    </footer>
</div>

</body>
</html>
